<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nokhba.nokhbahmd">
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- android 10-->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:name="com.nokhba.nokhbahmd.Notifications.app"
        android:allowBackup="true"
        android:icon="@drawable/n_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/n_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="register.EmergencyScreen"></activity>
        <activity android:name="register.VolunteerScreen" />
        <activity android:name="register.RulesScreen" />
        <activity android:name="register.HelpScreen" />
        <activity android:name="register.AboutUsScreen" />
        <activity android:name="com.nokhba.nokhbahmd.BoardingScreen" />
        <activity android:name="com.nokhba.nokhbahmd.MainActivity" />
        <activity android:name="com.nokhba.nokhbahmd.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <!--notification-->
        <service
            android:name="com.nokhba.nokhbahmd.Notifications.NotificationRecieve"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/new_logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/green" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/channal_id" />
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />

    </application>

</manifest>